<!doctype html>
<html>
<head>
  <%- include('head'); %>
</head>
<body>

<%- include('nav'); %>

<main role="main" class="container">

  <h1 class="text-center my-5">500 Error occurred</h1>

</main>

</body>
</html>
