<!doctype html>
<html>
<head>
  <%- include('head'); %>
</head>
<body>

<%- include('nav'); %>

<main role="main" class="container">

  <div class="row">

    <form action="/model/create" method="post" enctype="multipart/form-data"
          class="my-3 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">

      <h1 class="h3 text-center mb-3">Create new project</h1>

      <p class="lead">
        Start a new project where you will use your training data to train a model
        to later generate characters (text) from it.
      </p>

      <% if(locals.errors){ %>
        <p class="alert alert-warning">
          Form contains errors
        </p>
      <% } %>

      <div class="form-group row">
        <label for="name" class="col-sm-6 col-form-label">Project name</label>
        <div class="col-sm-6">
          <input name="name"
                 placeholder="eg: Shakespeare text generator"
                 type="text"

                 id="name"
                 class="form-control <% if(fieldErr("name")){ %>is-invalid<% } %>"
                 value="<%=fieldData("name")%>">
          <% if(fieldErr("name")){ %>
          <div class="invalid-feedback"><%= fieldErr("name") %></div>
          <% } %>
        </div>
      </div>

      <hr class="mt-5">

      <div class="text-right">
        <a href="/" class="btn btn-outline-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </form>

  </div>

</main>

</body>
</html>
