<footer class="text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/ivarprudnikov/char-rnn-tensorflow">Sources on GitHub</a>
      </li>
      <li class="nav-item">&middot;</li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.ivarprudnikov.com/run-tensorflow-scripts-nodejs-server-deployed-aws-docker-container/">Read about the implementation of this website</a>
      </li>
    </ul>
  </div>
</footer>
