<!doctype html>
<html>
<head>
  <%- include('head'); %>
</head>
<body>

<%- include('nav'); %>

<main role="main" class="container">

  <div class="row">

    <div class="mt-5 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
      Go to <a href="/train">training page</a> to upload your
      data and then generate text based on it.
    </div>

  </div>

</main>

</body>
</html>
