<!doctype html>
<html>
<head>
  <%- include('head'); %>
</head>
<body>

<%- include('nav'); %>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Train LSTM network</h1>
      <p class="lead text-muted">Build your own character (text) generator from large text samples like books
      and source code
      </p>
      <p>
        <a href="/train" class="btn btn-primary my-2">Start training</a>
        <a href="/models" class="btn btn-outline-primary my-2">Browse submissions</a>
      </p>
    </div>
  </section>

  <div class="container">



  </div>
</main>

</body>
</html>
