<!doctype html>
<html>
<head>
  <%- include('head'); %>
</head>
<body>

<%- include('nav'); %>

<main role="main">

  <section class="jumbotron text-center mb-0">
    <div class="container">
      <h1 class="jumbotron-heading">Train LSTM network</h1>
      <p class="lead text-muted">Build your own character (text) generator from large text samples like books
      and source code
      </p>
      <p>
        <a href="/model/create" class="btn btn-primary my-2">Start training</a>
        <a href="/model" class="btn btn-outline-primary my-2">Browse submissions</a>
      </p>
    </div>
  </section>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

            <div class="card-img-top
              bg-dark text-light
              d-flex
              align-items-center
              justify-content-center
              h2" style="height: 180px;">
              <span>01</span>
            </div>

            <div class="card-body">
              <p class="card-text">Upload a text file containing large amount of text. Great example is a book.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/model/create" class="btn btn-sm btn-outline-secondary">Continue</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-img-top
              bg-dark text-light
              d-flex
              align-items-center
              justify-content-center
              h2" style="height: 180px;">
              <span>02</span>
            </div>
            <div class="card-body">
              <p class="card-text">Observe training process in a log output and wait for it to end.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/model" class="btn btn-sm btn-outline-secondary">Browse examples</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-img-top
              bg-dark text-light
              d-flex
              align-items-center
              justify-content-center
              h2" style="height: 180px;">
              <span>03</span>
            </div>
            <div class="card-body">
              <p class="card-text">Generate text samples from a model after training is complete.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>

</body>
</html>
