<!doctype html>
<html>
<head>
  <%- include('head'); %>
</head>
<body>

<%- include('nav'); %>

<main role="main" class="container">

  <div class="row">

    <div class="mt-5 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
      <h1 class="text-center mb-5">Model <%= id %></h1>

      <pre><%= log %></pre>

    </div>

  </div>

</main>

</body>
</html>
